<div class="container">
  <h1><%= @restaurant.name %></h1>

  <p><strong>Reviews</strong></p>
  <ul class="list-group">
    <% if @restaurant.reviews = [] %>
      <p>No reviews yet! Add one?</p>
    <% else %>
      <% @restaurant.reviews.each do |review| %>
      <li class="list-group-item"><%= review.content %></li>
      <% end %>
    <% end %>
  </ul>
  <br>

  <div class="container">
    <h1>Add a Review for <%= @restaurant.name %></h1>
    <%= simple_form_for([@restaurant, @review] ) do |r| %>
      <%= r.input :content %>
      <%= r.input :rating, collection: [1, 2, 3, 4, 5] %>
      <%= r.submit %>
    <% end %>
  </div>

  <%= link_to "Back to All Restaurants", restaurants_path %>
</div>
